.container{
    display: flex;
    margin-top: 10vh;

    border-radius: 1.5rem;

    margin: 1.5rem;

    -webkit-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);

    background-image: url(IMGS/marmo\ bianco.webp);
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
}

.vr-container{
    display: inline;
    width: fit-content;
    margin-right: 1rem;
    margin-left: 1vw;
}

.vertical-row{
    display: flex;
    flex-flow: column;
}

.row-title{
    background-image: url('IMGS/marmo\ nero.webp');
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;

    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.3);
}

.vertical-row img{
    width: 30vw;
    height: 20vw;
    border-radius: 5px;
}

.food-list{
    width: fit-content;
    display: inline;
    margin-top: 15px;
    list-style-type: none;
    margin-left: -2rem;
}
.food-item{
    margin-top: 1rem;
}

.descrizione{
    color: #606060;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.prezzo{
    color: #050505;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.nome{
    font-weight: 500;
    font-size: 1rem;
}

.rosse{
    width: 50vw;
    height: 25vw;
    background: url(IMGS/LeRosse.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.list-container{
    display: flex;
}

.list-container ul{
    margin-right: 20vw;
}

.gourmet{
    width: 50vw;
    height: 25vw;
    background: url(IMGS/LeGourmet.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.reminder-text{
    margin: 2vh;
    font-size: 1rem;
    align-items: center;
    text-align: center;
}



.menu-container{
    margin-top: 5rem;
    display: flex;
    align-items: stretch;
}

#menu h2{
    margin: 15rem 5rem 0rem 5rem;
    text-align: center;
    font-size: 4rem;
    border-bottom: solid 1px #dedede;
    background-image: url('IMGS/marmo\ nero.webp');
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}

.menu25{
    margin-top: 5rem;
    display: inline;
    width: 70%;
}

.menu-list{
    display: inline;
    float: right;
}
.menu25 img{
    margin: 4vw;
    width: 35vw;
    height: auto;

}

.menu25 p{
    text-align: center;
    margin-right: 35%;
}

.menu-list .grafico{
    margin: 2vw;
    width: 15vw;
}

.menu-list ul{
    display: inline-flex;
    flex-flow: column;
    list-style-type: none;
    text-align: center;
    font-size: 1rem;
}

.descrizione-menu{
    font-weight: 550;
}

.descrizione-menu .descrizione{
    font-weight: 400;
}

.descrizione-menu .prezzo{
    font-weight: 700;
}
