.first-p-section{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: fit-content;
    text-align: center;
    margin: 2vh;
}

.first-text{
    font-size: 1.2rem;
}

.scroll-btn{
    padding: 1rem 3rem;
    background-image: url('IMGS/marmo\ nero.webp');
    background-size: cover;
    background-position: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: ease 0.3s;
    font-size: 1rem;

    -webkit-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);

    cursor: pointer;
}

.scroll-btn:hover{
    color: black;
    background-image: url('IMGS/marmo\ bianco.webp');
    background-size: cover;
    background-position: center;
    border: 1px solid #303030;
    font-size: 1.25rem;

    -webkit-box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
}

@media (max-height: 1000px){
    .first-p-section{
        margin-top: 2vh;
    }
}
@media (max-height: 500px){
    .first-p-section{
        margin-top: 3vh;
    }
}