  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 2;
  }
  
  .logo-container {
    margin-left: -1rem;
    transition: ease 0.8s;
    height: fit-content;
  }
  
  .logo-container img {
    width: 10rem;
    height: auto;
  }
  
  .logo-container:hover {
    transform: translateX(-1rem);
  }
  
  .nav-list {
    margin-top: 3rem;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-right: 1rem;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 2rem;
  }
  .nav-item a{
    text-decoration: none;
    background-image: url('IMGS/marmo\ nero.webp');
    background-clip: text;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    transition: ease 0.5s;
  }
  
  .menu-button {
    padding: 1rem 2rem;
    background-image: url('IMGS/marmo\ nero.webp');
    background-size: cover;
    background-position: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: ease 0.3s;
    font-size: 1.5rem;
    margin-top: -1.7rem;

    -webkit-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 50px -10px rgba(0,0,0,0.75);

    cursor: pointer;
  }
  
  .menu-button:hover {
    color: black;
    background-image: url('IMGS/marmo\ bianco.webp');
    background-size: cover;
    background-position: center;
    border: 1px solid #303030;
    border-radius: 0.5rem;
    font-size: 1.75rem;

    -webkit-box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
    box-shadow: -3px 10px 50px -5px rgba(0,0,0,0.75);
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
    .nav-list {
        margin-top: 0;
      flex-direction: column;
      align-items: flex-end;
      font-size: 1rem;
    }
    .nav-item {
      margin-left: 1rem;
      margin-top: 0.3rem;
    }
    .menu-button {
      padding: 0.6rem 0.8rem;
      font-size: 0.9rem;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .logo-container img {
      width: 5rem;
    }
    .nav-list {
      margin-right: 0.5rem;
      align-items: flex-end;
      font-size: 0.8rem;
    }
    .nav-item {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
    }
    .menu-button {
        margin-left: 0;
      padding: 0.5rem 0.7rem;
      font-size: 0.8rem;
    }
  }

.nav-item a:hover{
  font-size: 1.65rem;
}
